html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;

}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

/*li {
  list-style: none;
}*/

h1, h2, h3, p ,div {
	font-weight: normal;
	color: #151B54;
}

a {
	color: #151B54;
}

.header {
  height: 90px;
  width: 100%;
  background-color: #2f5167;
  border-bottom: 2px solid #151B54;
  position: fixed;
  opacity: 0.9;
}

.header a:hover {
	background-color: grey;
	transition-duration: 500ms;
}

.header-container {
	height: 90px;
	width: 100%;
}

.header-icon {
	float: left;
	padding: 20px 00px;
	color: white;
	position: fixed;
}

.header-icon a {
	color: white;
	padding: 26px 40px;
	text-decoration: none;
}

.header-list {
	float: right;
}

.header-list li {
	float: left;
	margin: 33px 0px;
	list-style: none;
}

.header-list a {
	padding: 35px 20px;
	color: white;
	text-decoration: none;
}

.container {
	width: 900px;
	padding: 0 15px;
	margin: 0 auto;
}

.top-wapper {
	background-image: url('../src/images/image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

.message-wapper {
	padding-top: 100px;
	color: #151B54;
}

.message-wapper h1 {
	text-align: center;
	padding: 0 0 10px 0;
	font-size: 40px;
	position: relative;
	animation: heading;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes heading {
	0%	{left: -1000px}
	100%{left: 0px}
}

.message-wapper p {
	text-align: center;
	padding: 10px 0 10px 0;
	font-size: 25px;
	border-bottom: 2px solid #151B54;
	position: relative;
	animation: headings;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes headings {
	0%	{left: -1000px}
	100%{left: 0px}
}

.intro-title {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.intro-title h1 {
	text-align: center;
	border-bottom: 2px solid #151B54;
	color: #151B54;
	
}
.intro-wapper {
	padding: 100px;
}

.aboutme-container img {
	width: 40%;
	float: left;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.description {
	text-align: center;
	color: #151B54;
	letter-spacing: 2px;
	height: 300px;
	width: 400px;
	float: left;
	padding: 30px;
	position: relative;
}

.aboutme-container {
	height: 300px;
	width: 800px;
	margin: 0 auto;
}

.quote-wapper {
	height: 300px;
	width: 700px;
	margin: 0 auto;
	padding-top: 50px;
}

.quote-content h1{
	text-align: center;
	font-style: italic;
	color: grey;
	font-family: "Times New Roman", Times, serif;
}

.quote-content h2 {
	float: right;
	font-style: italic;
	color: grey;
	font-family: "Times New Roman", Times, serif;
	padding: 10px 30px 0 0;
}


footer {
	background-color: #2f5167;
	height: 220px;
	width: 100%;
	bottom: 0;
}

.footer-logo {
	font-size: 30px;
	padding: 30px 30px 0px 30px;
	color: #fff;
}

.footer-info {
	padding-left: 30px;
	color: #fff;
}

.footer-email {
	padding: 30px;
	float: left;
	color: #fff;
}

.footer-email a {
	text-decoration: none;
	color: #fff;
}

.footer-sns {
	height: 50px;
	width: 200px;
	float: right;
}

.footer-sns img {
	width: 20%;
	float: left;
	padding: 10px;
}

.copyright {
	height: 30px;
	padding-top: 95px;
	text-align: center;
	color: #fff;
}

/*Experiences page below*/

.experience-wapper {

	background-image: url('../src/images/IMG_1024.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

.experience-title {
	width: 500px;
	padding: 50px 0;
	margin: 0 auto;
}

.experience-title h1 {
	color: #151B54;
	text-align: center;
	border-bottom: 2px solid #151B54;
}

.experience-contents li {
	padding: 50px 0px 330px 0;
	list-style: none;
}

.experience-contents p {
	letter-spacing: 1px;
}

.nasa img {
	width: 20%;
	float: left;
}

.foothill img {
	width: 20%;
	float: left;
}

.youtube-link img {
	width: 5%;
	float:left;
	padding: 3px;
}

.youtube-link p {
	padding: 15px 0px;
}

.description-container {
	float: left;
	padding: 10px;
}

/*This is personal project*/

.personal-project-contents li {
	padding: 0px 0px 250px 0;
	list-style: none;
}

.personal-project-title {
	padding: 50px 0;
	width: 450px;
	margin: 0 auto;
}

.personal-project-title h1 {
	text-align: center;
	border-bottom: 2px solid #151B54;
}

.ushinohi-logo {
	width: 15%;
	border-radius: 100px;
}

.personal-project-contents p {
	letter-spacing: 1px;
}

.project-icon img {
	width: 100%;
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-icon p {
	text-align: center;
	letter-spacing: 1px;
	padding: 10px;
}

.project-pic {
	width: 30%;
	border-radius: 50px;
	float: left;
	padding: 10px 10px 10px 10px;
}

/*School project below*/

.school-project-contents {
	padding: 0px 0px 1100px 0;
}

.school-project-title {
	width: 450px;
	padding: 30px 0;
	margin: 0 auto;
}

.school-project-title h1 {
	text-align: center;
	border-bottom: 2px solid #151B54;
}

/*Education page below*/

.education-wapper {
	background-image: url('../src/images/math.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

.education-title {
	width: 300px;
	padding: 50px 0;
	margin: 0 auto;
}

.education-title h1 {
	color: #151B54;
	text-align: center;
	border-bottom: 2px solid #151B54;
}

.education-contents {
	height: 1200px;
}

.education-content {
	width: 900px;
	height: 200px;
	padding: 10px 0;
}

.education-pic {
	width: 200px;
	height: 100%;
	float: left;
}

.education-name {
	width: 700px;
	height: 50px;
	float: right;
}

.education-description {
	width: 700px;
	height: 100px;
	float: right;
}

.education-pic img {
	width: 100%;
	border-radius: 30px;
}

.education-name h1 {
	text-align: center;
	letter-spacing: 2px;
}

.education-description {
	text-align: center;
	letter-spacing: 1px;
}

.vertical-line {
	height: 100px;
	width: 200px;
	border-left: 5px solid grey;
	margin-left: 100px;
}

.education-name-okazu h1 {
	text-align: center;
	letter-spacing: 2px;
}

/*skills below*/

.skills-wapper {
	background-image: url('../src/images/programing.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

.programming-skills-title {
	width: 350px;
	padding-top: 50px;
	margin: 0 auto;
}

.programming-skills-title h1 {
	color: #151B54;
	text-align: center;
	border-bottom: 2px solid #151B54;
	margin-bottom: 50px;
}

.programming-skills {
	height: 500px;
}

.content {
	width: 400px;
	height: 100px;
	float: left;
	margin: 20px;
/*	border: 2px solid grey;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.img-container {
	width: 100px;
	height: 100%;
}

.img-container img {
	height: 100%;
}

.name-container {
	width: 300px;
	height: 50px;
	float: right;
}

.name-container h1 {
	text-align: center;
}

.skill-level {
	width: 280px;
	height: 50px;
	float: right;
}

.percentage {
	width: 100%;
	height: 30px;
}

.percentage p {
	float: right;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}

.progress-bar-back {
	width: 100%;
	height: 8px;
	background-color: #d6dbdf;
	border-radius: 10px;
}

.progress-bar-solidworks {
	width: 90%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-onshape {
	width: 97%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-inventor {
	width: 80%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-autocad {
	width: 70%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-fusion {
	width: 70%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-illustrator {
	width: 60%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-c {
	width: 80%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-python {
	width: 70%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-html {
	width: 95%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-git {
	width: 80%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}


.computer-skills {
	height: 600px;
}

.computer-skills-title {
	width: 150px;
	padding-top: 40px;
	margin: 0 auto;
}

.computer-skills-title h1 {
	color: #151B54;
	text-align: center;
	border-bottom: 2px solid #151B54;
	margin-bottom: 50px;
}

.hardware-skills {
	height: 600px;
}

.hardware-skills-title {
	width: 300px;
	padding-top: 40px;
	margin: 0 auto;
}

.hardware-skills-title h1 {
	color: #151B54;
	text-align: center;
	border-bottom: 2px solid #151B54;
	margin-bottom: 50px;
}

.progress-bar-arduino {
	width: 90%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-raspberrypi {
	width: 80%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-jetsonnano {
	width: 75%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-mindstorm {
	width: 95%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

.progress-bar-vex {
	width: 90%;
	height: 8px;
	background-color: #6d56c1;
	border-radius: 10px;
}

/*from here is the awards page*/

.awards-wapper {
	background-image: url('../src/images/award.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

.award-skills-title {
	width: 300px;
	padding: 50px 0 20px 0;
	margin: 0 auto;
}

.award-skills-title h1 {
	color: #151B54;
	text-align: center;
	border-bottom: 2px solid #151B54;
	margin-bottom: 50px;
}

.skills-canada {
	height: 400px;
	width: auto;
	padding: 50px 0;
}

.award-image {
	width: 300px;
	float: left;
}

.award-image img {
	width: 100%;
}

.award-title {
	width: 500px;
	float: right;
}

.award-description {
	width: 550px;
	float: right;
	letter-spacing: 1px;
	padding: 20px 0 30px 10px;
}

.award-standing {
	height: 200px;
	width: 900px;
	float: left;
	letter-spacing: 1px;
}

.award-standing h1, h2, h3 {
	display: inline;
}

.award-standing h1 {
	color: red;
}

.wro {
	height: 350px;
	width: auto;
	padding: 50px 0;
}

.fll {
	height: 300px;
	width: auto;
	padding: 50px 0;
}
